# Aula 4 - Exercícios Extra - Pandas, Fontes de dados e Agregação
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [1]:
# Importe as bibliotecas pandas, numpy, glob e sqlalchemy
import pandas as pd
import numpy as np

### 4.10 Escreva uma função para gerar uma permutação (aleatória) de uma lista e colocar o resultado num dataframe com os elementos da lista agrupados em grupos de tamanho N (Ex.: N=4). 
#### A coluna de índices deve conter o nome dos grupos. Os nomes dos grupos devem seguir a seguinte regra: Grupo 1, Grupo 2, Grupo 3,..., Grupo K.
#### Veja como ficaria o resultado para o exemplo a seguir com uma lista de 9 elementos e tamanho N=4.

|         | 0                  |
|:--------|:-------------------|
| Grupo 0 | Julie Lewis        |
| Grupo 0 | Mary Phinney       |
| Grupo 0 | Gilbert Ravenell   |
| Grupo 0 | Jillian Brennan    |
| Grupo 1 | Michelle Humphreys |
| Grupo 1 | Kimberly Ransome   |
| Grupo 1 | Lisa Watson        |
| Grupo 1 | Jennifer Daniels   |
| Grupo 2 | Olga Crocker       |

In [2]:
# Dica 1: A função len calcula o tamanho de uma lista.
# Dica 2: Use a função math.ceil(N/n), onde N é o tamanho da lista e n é a quantidade
#         de pessoas em cada grupo

def create_groups(names_list, n):
    """Crie um dataframe com os nomes da lista names_list agrupados em grupos de tamanho n.
    """
    # permuta os nomes
    from random import shuffle
    shuffle(names_list)
    
    # cria o indice
    indice_grupo = []
    g = 0 
    for i in range(1, len(names_list)+1):
        indice_grupo.append(f'Grupo {g}')
        if i > 0 and i % n == 0:
            g += 1
    
    # monta o dataframe
    return pd.DataFrame({'nome': names_list}, index=indice_grupo)

In [3]:
## Faça seus testes aqui
import names
test_data = [names.get_full_name() for n in range(9)]

create_groups(test_data, 4)

                     nome
Grupo 0     Robert Mercer
Grupo 0      Luis Waldrep
Grupo 0     Carole Fields
Grupo 0   Anthony Fajardo
Grupo 1     Wayne Morales
Grupo 1  Maricela Gilbert
Grupo 1    Daniel Corrado
Grupo 1    Karen Guarnera
Grupo 2     Edmund Straub

In [4]:
# Validação para nota
import names
N = 9
group_length = 4
test_data = [names.get_full_name() for n in range(N)]
result = ['Grupo 0', 'Grupo 0', 'Grupo 0', 'Grupo 0', 'Grupo 1', 'Grupo 1', 'Grupo 1', 'Grupo 1', 'Grupo 2']
df = create_groups(test_data, group_length)

assert df.index.to_list() == result