# Aula 4 - Exercícios - Pandas, Fontes de dados e Agregação
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [1]:
# Importe as bibliotecas pandas, numpy, glob e sqlalchemy
import pandas as pd
import numpy as np
import sqlalchemy as sqla

### 4.7 Escreva uma função para contar quantos nomes de municípios são diferentes nas bases de dados do PIB e da população. 
#### A coluna do nome dos municípios no dataset de PIB contém também o nome da UF. Remova o nome da UF, por exemplo, removendo os 5 últimos caracteres da string do nome do município, antes de efetuar a comparação.
#### Interprete este resultado. O que você pode extrair de aprendizado deste resultado?

In [2]:
%run ../Aula4_Ex04/Aula4_Ex04.ipynb
path_pib = '../../curso_ciencia_dados2020/data/originais/pib/pib_municipios.xlsx'
path_pop='../../curso_ciencia_dados2020/data/originais/populacao/estimativa_dou_2017.xlsx'
df_pib_pop = merge_pop_pib(path_pop, path_pib)
df_pib_pop.head()

,uf,cod_uf,cod_munic,municipio_x,pop2017,cod_ibge7,nivel,municipio_y,2007,2009,2011,2013,2015,2017
0,RO,11,00015,Alta Floresta D'Oeste,25437,1100015,MU,Alta Floresta D'Oeste (RO),191364,256986,280510,341325,421300,498864
1,RO,11,00023,Ariquemes,107345,1100023,MU,Ariquemes (RO),905203,1133095,1651885,1799853,2037799,2296074
2,RO,11,00031,Cabixi,6224,1100031,MU,Cabixi (RO),49166,69776,77217,96365,116565,138894
3,RO,11,00049,Cacoal,88507,1100049,MU,Cacoal (RO),814890,985479,1259024,1433254,1794478,2127523
4,RO,11,00056,Cerejeiras,17934,1100056,MU,Cerejeiras (RO),143270,190902,260142,353270,397736,448524

In [3]:
# Dica 1: use a função map (element-wise) do objeto series, ou seja, sobre a coluna col2 do dataframe df.
# Dica 2: passe uma função lambda para o metodo map que executa as instruções do enunciado.
# Dica 3: compare o resultado da execução da funcao map com a coluna col1
# Dica 4: retorne a quantidade de diferenças resultantes da comparação
def compare_df_cols(df, col1, col2):
    """retorne a quantidade de registros em que o valor do registro na coluna col1 difere do valor em col2
    """
    return (df[col1] != df[col2].map(lambda s: s[:-5])).sum()

In [4]:
# Importar e carregar as funcoes do exercicio 4
%run ../Aula4_Ex04/Aula4_Ex04.ipynb

In [5]:
## Faça seus testes aqui
compare_df_cols(df_pib_pop, 'municipio_x', 'municipio_y')

16

In [6]:
# Validação para nota
# Importar e carregar as funcoes do exercicio 4
%run ../Aula3_Ex04/Aula3_Ex04.ipynb

path_pib = '../../curso_ciencia_dados2020/data/originais/pib/pib_municipios.xlsx'
path_pop='../../curso_ciencia_dados2020/data/originais/populacao/estimativa_dou_2017.xlsx'
df_pib_pop = merge_pop_pib(path_pop, path_pib)
assert compare_df_cols(df_pib_pop, 'municipio_x', 'municipio_y') == 16