# Aula 3 - Exercícios - Python e Pandas
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

In [1]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 3.5 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe de valores do tipo string ('yes' ou 'no') para uma coluna do tipo booleano parametrizando no nome da coluna a ser alterada.
#### Exemplo: Considere o dataframe a seguir
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | True      |
| b  | Maria      |     9   | False     |
| c  | Joao |    16.5 | True      |

In [2]:
# Dica: use a função Series.map
def change_yes_no(df, col):
    """altere o data frame na coluna col substituindo 'yes' por True e 'no' por False
    """
    #df[col] = df[col].apply(lambda v: v=='yes')
    df[col] = df[col].map({"yes": True, "no": False})
    return df

In [3]:
## Faça seus testes aqui

exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

change_yes_no(df, 'qualify')

     name  score  qualify
a    Jose   12.5     True
b   Maria    9.0    False
c    Joao   16.5     True
d   Pedro    NaN    False
e  Emilia    9.0    False
f  Marcos   20.0     True
g  Mateus   14.5     True
h   Laura    NaN    False
i  Carlos    8.0    False
j   Jonas   19.0     True

In [4]:
# Validação para nota
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

assert change_yes_no(df, 'qualify').equals(df2)

In [6]:
!wget https://drive.google.com/file/d/1rDQ14Wlc8lQMZKQfeQOeXTl8bQz4wggl/view?usp=sharing

--2020-11-23 15:33:32--  https://drive.google.com/file/d/1rDQ14Wlc8lQMZKQfeQOeXTl8bQz4wggl/view?usp=sharing
Resolving drive.google.com (drive.google.com)... 172.217.173.110, 2800:3f0:4001:812::200e
Connecting to drive.google.com (drive.google.com)|172.217.173.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘view?usp=sharing’

view?usp=sharing        [ <=>                ]  62,46K  --.-KB/s    in 0,06s

2020-11-23 15:33:33 (989 KB/s) - ‘view?usp=sharing’ saved [63959]