## Aula 5 - Agregação com Pandas e Conceitos de Estatística

### Agregação com Pandas

In [1]:
import pandas as pd
import numpy as np

#### W5.1 Considerando o dataframe df a seguir, crie um objeto de agrupamento da coluna data1 agrupando por key1.

In [2]:
# Criando um dataframe
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.480834 -1.838477
1    a  two -0.329506 -1.012104
2    b  one -0.657612  0.329745
3    b  two  1.329222 -0.099011
4    a  one  1.486044 -0.384169

In [5]:
# Faça aqui 
grouped = df['data1'].groupby(df['key1'])

#### W5.2 Aplique a métrica Média (mean) sobre esse objeto de agrupamento criado no exercicio W5.1.

In [6]:
# Faça aqui 
grouped.mean()

key1
a    0.225235
b    0.335805
Name: data1, dtype: float64

#### W5.3 Considerando o dataframe df2 a seguir, crie um objeto de agrupamento da coluna data1 agrupando por key1 e key2.

In [7]:
# Criando um dataframe
df2 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df2

  key1  key2     data1     data2
0    a     1 -0.676871 -0.266612
1    a     2  0.008691 -0.987335
2    b     1  0.776473 -0.273230
3    b     2 -0.339733 -0.614827
4    a     1  0.757078 -1.109015

In [8]:
# Faça aqui
gb = df['data1'].groupby([df['key1'], df['key2']])

#### W5.4 Aplique a métrica Média (mean) sobre esse objeto de agrupamento criado no exercicio W5.3.

In [9]:
# Faça aqui
gb.mean()

key1  key2
a     one     0.502605
      two    -0.329506
b     one    -0.657612
      two     1.329222
Name: data1, dtype: float64

#### W5.5 Use o método unstack() para pivotar essa série do exercicio W5.4

In [10]:
# Faça aqui
gb.mean().unstack()

key2       one       two
key1
a     0.502605 -0.329506
b    -0.657612  1.329222

#### W5.6 Crie um agrupamento por key1 e aplique a métrica mean em todas as colunas de dados do dataframe df3.

In [12]:
# Criando um dataframe
df3 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df3

  key1  key2     data1     data2
0    a     1 -0.084317  0.613991
1    a     2 -0.287569 -0.657221
2    b     1 -1.179070 -1.997669
3    b     2  0.531537  0.090432
4    a     1  1.088003 -0.001500

In [13]:
# Faça aqui
df3.groupby('key1').mean()

          key2     data1     data2
key1
a     1.333333  0.238705 -0.014910
b     1.500000 -0.323767 -0.953618

#### W5.7 Crie um agrupamento por key1 e key2 e aplique a métrica mean em todas as colunas de dados do dataframe df3.

In [14]:
# Faça aqui
df3.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    1     0.501843  0.306245
     2    -0.287569 -0.657221
b    1    -1.179070 -1.997669
     2     0.531537  0.090432

#### W5.8 Agrupe o dataframe df4 por key1 e calcule a média e a mediana para a coluna data1 e soma e o valor máximo para a coluna data2.

In [15]:
# Criando um dataframe
df4 = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : [1, 2, 1, 2, 1],
                   'data1' : np.random.randn(5), 'data2' : np.random.randn(5)})
df4

  key1  key2     data1     data2
0    a     1 -0.242635  0.743181
1    a     2 -1.227826  0.426630
2    b     1 -1.844633 -0.517531
3    b     2  1.202099 -0.688306
4    a     1 -0.569019 -0.226136

In [16]:
# Faça aqui
df4.groupby('key1').agg({'data1': ['mean', 'median'], 'data2': ['sum', 'max']})

         data1               data2
          mean    median       sum       max
key1
a    -0.679827 -0.569019  0.943675  0.743181
b    -0.321267 -0.321267 -1.205837 -0.517531