## Aula 4 - Pandas e Fontes de dados

### Manipulação de Fontes de Dados

In [1]:
#Fazer o download dos datasets
!git clone https://github.com/alexlopespereira/curso_ciencia_dados2020.git ../../curso_ciencia_dados2020

Cloning into '../../curso_ciencia_dados2020'...
remote: Enumerating objects: 379, done.
remote: Counting objects: 100% (379/379), done.
remote: Compressing objects: 100% (234/234), done.
remote: Total 379 (delta 153), reused 303 (delta 95), pack-reused 0
Receiving objects: 100% (379/379), 30.38 MiB | 942.00 KiB/s, done.
Resolving deltas: 100% (153/153), done.

In [ ]:
import pandas as pd
import numpy as np

#### W4.1 Carregue o arquivo do PIB disponibilizado nas bases de dados deste curso. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Ajuste corretamente os argumentos skiprows e skipfooter para deixar na sua tabela somente os dados de interesse. As linhas de cabeçalho desnecessárias e o rodapé não devem fazer parte da sua tabela de dados.

In [ ]:
# path_pib = 'https://github.com/alexlopespereira/curso_ciencia_dados2020/raw/master/data/originais/pib/pib_municipios.xlsx', sheet_name='Tabela', skiprows=3)
path_pib = '../../curso_ciencia_dados2020/data/originais/pib/pib_municipios.xlsx'

In [ ]:
# Mostre os 10 primeiros registros da sua tabela com o método pd.DataFrame.head()

In [ ]:
# Mostre os 10 últimos registros da sua tabela com o método pd.DataFrame.tail()

In [ ]:
# Vizualize os tipos dos dados desse dataframe utilizando o método pd.DataFrame.info()
# Use esse método SEMPRE que alguma coisa não funcionar quando estiver 
# fazendo operaçoes que esperam algum tipo de dado específico numa coluna.
# Por exemplo, é comum você tentar concatenar o conteúdo de duas colunas na forma de string
# imaginando que as duas colunas já são string, quando na verdade alguma delas não são.
# Outro exemplo de erro bastante comum é você tentar somar o valor de duas colunas quando
# uma delas ou as duas não são números, mas strings.

#### W4.2 Carregue o arquivo do índice de gini. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Use os argumentos sep, skiprows, skipfooter, na_values e decimal.

In [ ]:
# path_gini = 'https://github.com/alexlopespereira/curso_ciencia_dados2020/raw/master/data/originais/gini/ginibr.csv'
path_gini = '../../curso_ciencia_dados2020/data/originais/gini/ginibr.csv'

#### W4.3 Carregue o arquivo do dataset de morbidade disponibilizado nas bases de dados deste curso. Você pode escolher abrir do arquivo local ou diretamente da URL do github.
#### Ajuste corretamente os argumentos sep e decimal. Assegure-se de que os dados numéricos foram carregados em formato numérico (int ou float). Use o método pd.DataFrame.info() para fazer esta verificação.

In [ ]:
# path_morbidade = 'https://github.com/alexlopespereira/curso_ciencia_dados2020/raw/master/data/originais/morbidade/consolidado/morbidade_simplificado.csv'
path_morbidade = '../../curso_ciencia_dados2020/data/originais/morbidade/consolidado/morbidade_simplificado.csv'

#### W4.4 Converta um dataframe para uma tabela de banco de dados SQLite

In [ ]:
import sqlalchemy as sqla

# Crie uma conexão com o banco de dados
url_bd = None #'sqlite:///bd.sqlite'
con = sqla.create_engine()

# Escreva o DataFrame df_python[2] numa tabela de um banco de dados SQLite
df_python[2].to_sql("python", con, if_exists="replace")

### Descartando valores faltantes (NA ou NaN)

#### W4.5 Remova os valores NA da series a seguir

In [ ]:
from numpy import nan as NA
# Considere a serie a seguir
data = pd.Series([1, NA, 3.5, NA, 7])

#### W4.6 Remova os itens duplicados do dataframe a seguir

In [ ]:
# Considere o seguinte dataframe
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})

### Treinando Indexação Hierárquica

In [ ]:
# Considere a seguinte Serie
data = pd.Series(np.random.randn(9), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                            [1, 2, 3, 1, 3, 1, 2, 2, 3]])
# Mostre o indice hierárquico
data.index

#### W4.7 Considerando a serie data, definida na célula anterior, faça um filtro com uma lista de elementos do 1o nível do índice

In [ ]:
# Faça aqui

#### W4.8 Considerando a serie data, faça um filtro no 2o Nível (mais interno)

In [ ]:
# Considere o seguinte dataframe

### Treinando a função merge (fundir/juntar)

#### W4.9 Faça o merge dos dois dataframes a seguir usando como chave de junção a coluna 'key'. Use o argumento how='left'

In [ ]:
# Considere os seguintes DataFrames
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
# Faça aqui

#### W4.10 Repita o exercício 4.9, mas desta vez utilize o faça o merge de tal forma que apareça no resultado somente os registros que cuja chave esteja presente nos dois dataframes.

In [ ]:
# Faça aqui

### Treinando Reshaping / Pivoting (Pivotar)

#### W4.11 Pivote o dataframe df_provas a seguir colocando a coluna Aluno como índice, os valores da coluna Disciplina como colunas, e os valores da coluna Objetiva como conteúdo do novo dataframe

In [ ]:
# Considere o seguinte DataFrame
table = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8.5, 7.5, 9, 10]}
df_provas = pd.DataFrame(table)

In [ ]:
# Faça aqui

#### W4.12 Usando o método pivot_table, faça o pivoteamento do dataframe a seguir. Utilize a métrica padrão (mean) sobre a de agregação quando houver valores repetidos com as mesmas chaves na tabela pivotada.

In [ ]:
# Considere o seguinte DataFrame
table2 = {
    'Aluno': ['AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoA', 'AlunoB', 'AlunoB', 'AlunoB', 'AlunoB'],
    'Disciplina': ['Portugues', 'Matematica', 'Geografia', 'Geografia', 'História', 'Portugues', 'Matematica', 'Geografia', 'História'],
    'Objetiva': [8.5, 7.5, 9, 10, 9, 8.5, 7.5, 9, 10],
    'Discursiva': [6, 6.5, 7.5, 7, 8, 8.5, 7.5, 9, 10]}
df_provas2 = pd.DataFrame(table2)
df_provas2

In [ ]:
# Faça aqui